.main-navbar {
    color: white;
    margin-right: 45px;
    /* margin-top: 20px; */
}

.nav-back{
    height: 58px;
    top: 0px;
    background-color: #343A40;
    border-radius: 6px;
    padding: 15px 35px;
    margin-bottom: 52px;
}

.white{
    color: white;
}

.right{
    justify-content:flex-end;
    margin-top: 18px;
}

.profile-down{
    margin-bottom:26px;
}